.review {
    text-align: justify;
}

.card {
    border: 1px solid gray;
    border-radius: 5px;

    /* display: grid; */
    /* gap: 50px 100px; */
    /* grid-template-columns: repeat(2, 1fr); */

    /*width: 100px; */
}

.card img {
    /* height: 200px; */
    /* width: 250px; */

}